/* Color pallet */
$primary-lilac: #c5c1d8;
$primary-lilac80: #c5c1d8CC;
$medium-lilac: #e2e0eb;
$light-lilac: #ebeaf0;

$menu-selection: #e1dfea;
$menu-selection20: #e1dfea33;

$dark-gray: #4a4b46;
$medium-gray: #8f8f8f;
$light-gray: #9d9ca2;

/* Fonts definition */
$main-font: Verdana, Helvetica, sans-serif;
$main-font-color: $dark-gray;
$bold-amount: 800;
$font-size-sm: 14px;
$font-size: 16px;
$font-size-md: 18px;
$font-size-lg: 20px;
$font-size-xl: 22px;

/* Global Vars */
$vertical-gutter: 35px;
$horizontal-gutter: 75px;

/* Global reset */

html, body { height: 100%; }
body{
  padding: 0;
  margin: 0;
  font-family: $main-font;
  font-size: $font-size;
  color: $main-font-color;
  font-weight: normal;
}

/* Font styles */
.headline-text {
  font-weight: $bold-amount;
  text-transform: uppercase;
}
.allcaps-text {
  text-transform: uppercase;
}
.bold-text {
  font-weight: $bold-amount;
}
.sm-text{
  font-size: $font-size-sm;
  font-weight: normal;
}
.md-text {
  font-size: $font-size-md;
  font-weight: normal;
}
.lg-text{
  font-size: $font-size-lg;
}
.xl-text{
  font-size: $font-size-xl;
}

/* Mod Styles */
.d-block {
  display: block;
}
.d-none {
  display: none;
}
.m-0 {
  margin: 0;
}

@media screen and (min-width: 900px) {
  .d-md-block{
    display: block;
  }
  .d-md-none{
    display: none;
  }
}

/* Global Styles */
.content-wrapper {
  padding: 62px 98px 140px;
}

.ribbon{
  background-color: $primary-lilac;
  height: 100px;
  padding: 0 100px;
  display: flex;
  > div {
    margin: auto 0;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      position: absolute;
      font-size: 68px;
    }
    p{
      z-index: 1;
    }
  }
  .fa-circle{
    color: $menu-selection;
  }
}

.cards-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  app-card {
    flex: 1 0 45%;
    max-width: 45%;
    min-height: 290px;
    padding-bottom: 50px;
    .mat-card {
      height: 100%;
    }
  }
}

@media screen and (max-width: 900px) {
  .content-wrapper {
    padding: 55px 45px 70px;
  }

  .ribbon{
    height: 75px;
    padding: 0 75px;
  }

  .cards-grid {
    flex-flow: column;
    app-card {
      flex: 1;
      max-width: 100%;
    }
  }
}
