/* Color pallet */
$primary-lilac: #c5c1d8;
$primary-lilac80: #c5c1d8CC;
$medium-lilac: #e2e0eb;
$light-lilac: #ebeaf0;

$menu-selection: #e1dfea;
$menu-selection20: #e1dfea33;

$dark-gray: #4a4b46;
$medium-gray: #8f8f8f;
$light-gray: #9d9ca2;

/* Fonts definition */
$main-font: Verdana, Helvetica, sans-serif;
$bold-amount: 800;
$font-size-sm: 14px;
$font-size: 16px;
$font-size-md: 18px;
$font-size-lg: 20px;
$font-size-xl: 22px;

.bold-text {
  font-weight: $bold-amount;
}
.sm-text{
  font-size: $font-size-sm;
  font-weight: normal;
}
.md-text {
  font-size: $font-size-md;
  font-weight: normal;
}
.lg-text{
  font-size: $font-size-lg;
}
.xl-text{
  font-size: $font-size-xl;
}

.d-block {
  display: block;
}
.d-none {
  display: none;
}

/* Global reset */
body{
  padding: 0;
  margin: 0;
  font-family: $main-font;
  font-size: $font-size;
  font-weight: normal;
}

/* Global Styles */
.ribbon{
  background-color: $primary-lilac;
  height: 100px;
  padding: 0 100px;
  display: flex;
  > div {
    margin: auto 0;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      position: absolute;
      font-size: 68px;
    }
    p{
      z-index: 1;
      text-transform: capitalize;
    }
  }
  .fa-circle{
    color: $menu-selection;
  }
}

@media screen and (max-width: 900px) {
  .ribbon{
    height: 75px;
    padding: 0 75px;
  }
}
@media screen and (min-width: 900px) {
  .d-md-block{
    display: block;
  }
  .d-md-none{
    display: none;
  }
}
