@import '../../../styles';

::ng-deep{
  .carousel {
    .carousel-slide {
      height: 666px !important;
      padding: 0 !important;
    }
    >button {
      border-bottom: white 2px solid;
      border-right: white 2px solid;
      background: transparent;
      border-radius: 0;
      transform: rotate(
          -45deg
      );
      &:first-of-type {
        transform: rotate(135deg) !important;
      }
      &:last-of-type {
        transform: rotate(-45deg) !important;;
      }
      * {
        visibility: hidden;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  ::ng-deep{
    .carousel .carousel-slide {
      height: 350px !important;
    }
  }
}
