<div class="mobile-menu-trigger d-md-none">
  <div class="open-menu" (click)="menuToggle()">
    <div *ngIf="!isMenuOpen">
      <i class="fas fa-bars"></i>
      <i class="fas fa-circle"></i>
    </div>
    <div *ngIf="isMenuOpen"><i class="fas fa-times"></i></div>
  </div>
</div>
<nav mat-tab-nav-bar mat-align-tabs="center" [class.opened-menu]="isMenuOpen" animationDuration="2000ms" [disableRipple]="true">
  <a mat-tab-link
     class="allcaps-text"
     *ngFor="let link of navLinks"
     [routerLink]="link.link"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">{{link.label}}</a>
</nav>
<router-outlet></router-outlet>
